/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-top: 20px;
}

header img {
    border-radius: 50%;
}

header h1 {
    font-size: 2em;
    color: #333;
}

header p {
    color: #777;
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

nav .call-to-action-link {
    color: #ffab57;
}

/* Main container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Form styles */
main {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Form elements */
form div {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 48%;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button[type="button"]:first-child {
    background-color: #ffab57;
    color: #ffffff;
}

button[type="button"]:first-child:hover {
    background-color: #ff9a3e;
}

button[type="button"]:nth-child(2) {
    background-color: #555;
    color: #ffffff;
}

button[type="button"]:nth-child(2):hover {
    background-color: #333;
}

/* Footer */
footer {
    margin-top: 20px;
    color: #555;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    padding: 10px;
}
